:root {
  --primary-text-color: #e5e5e5;
  --title-text-color: #212121;
  --title-color: #ffffff;
  --contacts-color: #757575;
  --accent-color: #2196f3;
  --hero-color: #2f303a;
  --team-color: #f5f4fa;
}
html {
  box-sizing: border-box;
}

*,
*::after,
a::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--title-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}
/* Утилиты */

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header {
  display: flex;
  color: var(--title-color);
}
.page-header .link:hover,
.page-header .link:focus {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

}
/* Main nav */

.main-nav {
  display: flex;
  align-items: center;
}
/* Logo */

.logo {
  display: flex;
  margin-right: 93px;
  align-items: center;
  color: var(--accent-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-accent {
  color: var(--title-text-color);
}

/* Site nav */

.site-nav {
  display: flex;
  margin-left: auto;
}

.site-nav .item {
  /* outline: 1px solid red;
  */
}

.site-nav .item + .item {
  margin-left: 50px;
}

/* .site-nav .item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
}

.site-nav .link:active {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  margin-left: auto;
  
}
.contacts-item :not(last child) {
  margin-right: 50px;
}

.contacts .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--contacts-color);
  text-decoration: none;
  font-weight: 500;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* Hero section */
.hero {
  background-color: var(--hero-color);
  margin: 0 auto;
  text-align: center;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--title-color);
  font-style: 400;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  width: 696px;
}
.button {
  color: var(--title-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-style: 400;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px;
  width: 200px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}
/* Features */

.feature-list {

  display: flex;
  flex-wrap: wrap;
}

.feature-list .title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
}
.feature-list .text {
  color: var(--contacts-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.feature-list .item {
   width: 270px;

}

/* Job section */

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

/* Examples */

.work-list .title {
  color: var(--title-text-color);
}

/* Team section */

.section-company {
  background: #f5f4fa;
}

.section-title-lider {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-section-title {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.profession {
  color: var(--contacts-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.contacts-link {
  color: var(--contacts-color);
}

/* Footer section */

.footer {
  background-color: var(--hero-color);
  width: 1600px;
  left: 0px;
  top: 2097px;
  border-radius: 0px;
}
.contacts-link {
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: 0;
  display: block;
}
.footer-contacts-link.link :hover,
.footer-contacts-link.link :focus {
  color: var(--accent-color);
}
.logo-accent-color {
  color: var(--title-color);
}
.list {
  list-style: none;
}

.footer address {
  color: var(--title-color);
  font-style: normal;
}

/* portfolio */

.portfolio-btns {
  background: var(--team-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  text-align: center;
  padding: 6px 22px;
  font-family: inherit;
}
.portfolio-btns:hover,
.portfolio-btns:focus {
  background-color: var(--accent-color);
  color: var(--title-color);
}


.portfolio-section-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.test-container {


}

.flex-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.flex-element {
  display: flex;
  flex-wrap: wrap;

}
.link {
  text-decoration: none;
}
.portfolio-text {
  color: var(--contacts-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  text-align: left;
}
.section-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* цвет основноого текста: #212121; */

/*вторичный цвет текста: #757575;*/

/*белый цвет: #FFFFFF;*/

/*белый прозрачный background: #FFFFFF99;rgba(0, 0, 0, 0,6)*/

/*акцент синий: #2196F3;*/
